


body{background-color: aqua;
color: purple;
align-content: center;
width: auto;
/* Body colour*/
}


h1{font-size: 2cm;
font-family: cursive;
color: brown;
align-items: center;
border: 50px

     }
     h3{font-size: 0.8cm;
    font-family: cursive;
    color: brown;
  }


  p{
font-size: 20px;
text-align: left;
}







     